<ul ng-controller="NavigationController">
        <span ng-repeat="client in clients">
            <li class="client">{{ "{{ client.name }}" }}</li>
            <li ng-repeat="log in client.logs" ng-class="{'active turquoise': (route.log == log.slug && route.client == client.slug) }">
                <a href="{{ app.request.baseUrl }}/logs/{{ "{{ client.slug }}/{{ log.slug }}" }}">{{ "{{ log.name }}" }}</a>
            </li>
        </span>
</ul>